Salut {{ name }} ! Juste pour t'informer que :
<p><b>{{ expediteur }}</b> a commenté une réponse où tu as recemment participé, dans le contenu:
<i>{{ titreContenu }}</i>:</p>

<h2>
    <a  href="https://www.3ilcours.fr/lectureContenu/{{ idContenu }}#!/questions/{{ idQuestion }}"  style="display:inline-block;width:100%;
    background-color:rgba(240, 79, 15, 0.29);
    text-decoration:none;
    color:#e84e0f;
    font-size:18px;
    font-weight:bold;
    text-align:center;padding:15px 0px 15px 0px;border-radius:2px">Voir le commentaire</a>
</h2>
Merci et bon courage pour les exams.

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('img/happystudent.png')) }}" height="40" width="50" style="margin-bottom: -10px; margin-left: -10px">