{% extends 'base.html.twig' %}

{% block body %}
    <div  ng-controller="3ischoolCtrl">
        <div class="alert alert-success" role="alert"
             style="position: absolute; z-index: 100000; right: 0; left: 0;"
             ng-if="validationSuccess"
             ng-cloak>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Félicitation  <i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></strong>

            <p>Votre compte a été activé. Vous pouvez maintenant vous connecter.</p>

        </div>
    <div class="preloader" ng-show="chargementEnCours && showHome" ng-cloak>
        <div class="msg-preloader">
            <img ng-src="{{ asset('img/preloader.gif') }}"/>
        </div>
    </div>

    <div class="jumbotron"  ng-if="showHome"  ng-cloak > 

        <div id="wrapper" >

            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid" >
                    <div class="navbar-header">

                        <button style="background-color: #e84e0f; border:none" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div  class="navbar-brand">
                            <a id="menu-toggle" href="#"  toggle-class="active"
                               class="glyphicon glyphicon-align-justify btn-menu toggle" style="color: #e84e0f">

                            </a>
                            <a ng-href="/"><img ng-src="{{ asset('img/3ilCours_logo.png') }}" height="30" width="110" style="margin-top: -4px">   </a>
                        </div>
                    </div>

                    <div id="navbar" class="collapse navbar-collapse" style="border-top: none">
                        <ul class="nav navbar-nav ">
                            <li style="padding-left: 100px;!important;">
                                <form id="custom-search-input" role="search" ng-show="!chargementEnCours">
                                    <div class="input-group col-md-12" >
                                        <input type="search"
                                               ng-model="data.rechercheContenu"
                                               class="search-query form-control"
                                               placeholder="Recherchez un cours, un TD, un TP et plus dans cette promotion"
                                               ng-keydown="showSearch()"/>
                                        <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" >
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                                    </div>
                                </form>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right pull-right" style="margin-top: -6px">
                            <li id="notification_li" ng-controller="NotifCtrl" ng-show="!chargementEnCours">
                                <span id="notification_count" ng-if="notificationCount>0">{[{notificationCount}]}</span>
                                <a href='' class="header-text" id="notificationLink" ng-click="notficationHasBeenSeen()">
                                    <i class="material-icons">notifications</i>
                                </a>
                                <div id="notificationContainer">
                                    <div id="notificationTitle">Notifications</div>
                                    <div id="" class="no-notif1 notifications" ng-if="notifications[0].id==0">Aucune notification pour l'instant.</div>
                                    <div id="notificationsBody" class="notifications scroll" ng-if="notifications[0].id!=0">

                                        <ul class="nav" id="notifications-ul">
                                            <li  ng-class="{'notifications-li': notification.lu==false}" class="notif" ng-repeat="notification in notifications">

                                                <a href="/dashboard#!/contenusSignales/questions" class="notif-link" ng-if="notification.code=='Sq'" ng-click="notificationHasBeenRead(notification.id)">
                                                    <div class="notif-row">
                                                        <div class="notif-symbols">{[{notification.code}]}</div>
                                                        <div class="notif-content"><b>{[{notification.questionNbreInutile}]}</b>
                                                                <span ng-if="notification.questionNbreInutile==1"><b>utilisateur</b></span>
                                                                <span ng-if="notification.questionNbreInutile>1"><b>utilisateurs</b></span>
                                                            <span ng-if="notification.questionNbreInutile==1"> a signalé</span>
                                                            <span ng-if="notification.questionNbreInutile>1"> ont signalés</span>
                                                            une question du contenu :<i>{[{(notification.contenuTitre | limitTo: 65) + (notification.contenuTitre.length > 65 ? '...' : '')}]} : </i>
                                                            <span>"{[{(notification.questionLibelle | limitTo: 65) + (notification.questionLibelle.length > 65 ? '...' : '')}]}"</span> <br>
                                                            <span class="notif-date">{[{notification.dateNotification | date:'dd MMM yyyy à HH:mm'}]}</span></div>
                                                    </div>
                                                </a>
                                                <a href="/dashboard#!/contenusSignales/reponses" class="notif-link" ng-if="notification.code=='Sr'" ng-click="notificationHasBeenRead(notification.id)">
                                                    <div class="notif-row">
                                                        <div class="notif-symbols">{[{notification.code}]}</div>
                                                        <div class="notif-content"><b>{[{notification.reponseNbreInutile}]}</b>
                                                            <span ng-if="notification.reponseNbreInutile==1"><b>utilisateur</b></span>
                                                            <span ng-if="notification.reponseNbreInutile>1"><b>utilisateurs</b></span>
                                                            <span ng-if="notification.reponseNbreInutile==1"> a signalé</span>
                                                            <span ng-if="notification.reponseNbreInutile>1"> ont signalés</span>
                                                            une réponse du contenu : <i>{[{(notification.contenuTitre | limitTo: 65) + (notification.contenuTitre.length > 65 ? '...' : '')}]} : </i>
                                                            "<span ng-bind-html="(notification.reponseLibelle | limitTo: 65) + (notification.reponseLibelle.length > 65 ? '...' : '')"></span>" <br>
                                                            <span class="notif-date">{[{notification.dateNotification | date:'dd MMM yyyy à HH:mm'}]}</span></div>
                                                    </div>
                                                </a>
                                                <a href="/dashboard#!/contenusSignales/commentaires" class="notif-link" ng-if="notification.code=='Sc'" ng-click="notificationHasBeenRead(notification.id)">
                                                    <div class="notif-row">
                                                        <div class="notif-symbols">{[{notification.code}]}</div>
                                                        <div class="notif-content"><b>{[{notification.commentaireNbreInutile}]}</b>
                                                            <span ng-if="notification.commentaireNbreInutile==1"><b>utilisateur</b></span>
                                                            <span ng-if="notification.commentaireNbreInutile>1"><b>utilisateurs</b></span>
                                                            <span ng-if="notification.commentaireNbreInutile==1"> a signalé</span>
                                                            <span ng-if="notification.commentaireNbreInutile>1"> ont signalés</span>
                                                            un commentaire du contenu
                                                            <i>{[{(notification.contenuTitre | limitTo: 65) + (notification.contenuTitre.length > 65 ? '...' : '')}]} :</i>
                                                            "<span ng-bind-html="(notification.commentaireLibelle | limitTo: 65) + (notification.commentaireLibelle.length > 65 ? '...' : '')">"</span> <br>
                                                            <span class="notif-date">{[{notification.dateNotification | date:'dd MMM yyyy à HH:mm'}]}</span></div>
                                                    </div>
                                                </a>
                                                <a href="/lectureContenu/{[{notification.contenuID}]}" class="notif-link" ng-if="notification.code=='P'" ng-click="notificationHasBeenRead(notification.id)">
                                                    <div class="notif-row">
                                                        <div class="notif-symbolp">{[{notification.code}]}</div>
                                                        <div class="notif-content">
                                                            <b>{[{notification.prenom+' '+notification.nom}]}</b>
                                                            a publié le contenu : <span>"{[{(notification.contenuTitre | limitTo: 65) + (notification.contenuTitre.length > 65 ? '...' : '')}]}"</span> <br>
                                                            <span class="notif-date">{[{notification.dateNotification | date:'dd MMM yyyy à HH:mm'}]}</span></div>
                                                    </div>
                                                </a>
                                                <a href="/lectureContenu/{[{notification.contenuID}]}" class="notif-link" ng-if="notification.code=='Q'">
                                                    <div class="notif-row">
                                                        <div class="notif-symbolq">{[{notification.code}]}</div>
                                                        <div class="notif-content">
                                                            <b ng-if="!notification.questionAnonyme">{[{notification.prenom+' '+notification.nom}]}</b>
                                                            <b ng-if="notification.questionAnonyme">Anonyme</b>
                                                            a posé une question dans le contenu <i>{[{(notification.contenuTitre | limitTo: 65) + (notification.contenuTitre.length > 65 ? '...' : '')}]} : </i>
                                                            <span>"{[{(notification.questionLibelle | limitTo: 65) + (notification.questionLibelle.length > 65 ? '...' : '')}]}"</span><br>
                                                            <span class="notif-date">"{[{notification.dateNotification | date:'dd MMM yyyy à HH:mm'}]}</span>"</div>
                                                    </div>
                                                </a>
                                                <a href="http://www.3ilcours.fr/lectureContenu/{[{notification.contenuID}]}" class="notif-link" ng-if="notification.code=='R'" ng-click="notificationHasBeenRead(notification.id)">
                                                    <div class="notif-row">
                                                        <div class="notif-symbolr">{[{notification.code}]}</div>
                                                        <div class="notif-content">
                                                            <b ng-if="!notification.reponseAnonyme">{[{notification.prenom+' '+notification.nom}]}</b>
                                                            <b ng-if="notification.reponseAnonyme">Anonyme</b>
                                                            a répondu a une question du contenu <i>{[{(notification.contenuTitre | limitTo: 65) + (notification.contenuTitre.length > 65 ? '...' : '')}]} : </i>
                                                            "<span ng-bind-html="(notification.reponseLibelle | limitTo: 65) + (notification.reponseLibelle.length > 65 ? '...' : '')"></span>" <br>
                                                            <span class="notif-date">"{[{notification.dateNotification | date:'dd MMM yyyy à HH:mm'}]}"</span></div>
                                                    </div>
                                                </a>
                                                <a href="/lectureContenu/{[{notification.contenuID}]}" class="notif-link" ng-if="notification.code=='C'" ng-click="notificationHasBeenRead(notification.id)">
                                                    <div class="notif-row">
                                                        <div class="notif-symbolc">{[{notification.code}]}</div>
                                                        <div class="notif-content">
                                                            <b>{[{notification.prenom+' '+notification.nom}]}</b>
                                                            a commenté une réponse du contenu <i>{[{(notification.contenuTitre | limitTo: 65) + (notification.contenuTitre.length > 65 ? '...' : '')}]} : </i>
                                                            "<span ng-bind-html="(notification.commentaireLibelle | limitTo: 65) + (notification.commentaireLibelle.length > 65 ? '...' : '')"></span>" <br>
                                                            <span class="notif-date">{[{notification.dateNotification | date:'dd MMM yyyy à HH:mm'}]}</span></div>
                                                    </div>
                                                </a>
                                                <a href="/lectureContenu/{[{notification.contenuID}]}" class="notif-link" ng-if="notification.code=='Ca'" ng-click="notificationHasBeenRead(notification.id)">
                                                    <div class="notif-row">
                                                        <div class="notif-symbolc">{[{notification.code}]}</div>
                                                        <div class="notif-content">
                                                            <b>{[{notification.prenom+' '+notification.nom}]}</b>
                                                            a aussi commenté une réponse du contenu <i>{[{(notification.contenuTitre | limitTo: 65) + (notification.contenuTitre.length > 65 ? '...' : '')}]} : </i>
                                                            "<span ng-bind-html="(notification.commentaireLibelle | limitTo: 65) + (notification.commentaireLibelle.length > 65 ? '...' : '')"></span>"<br>
                                                            <span class="notif-date">{[{notification.dateNotification | date:'dd MMM yyyy à HH:mm'}]}</span></div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="notificationFooter"><a href="#" class="notif-link-footer"><i class="material-icons">sentiment_satisfied</i></a></div>
                                </div>
                            </li>

                            {#<li id="notification_li" ng-controller="NotifCtrl">
                                <span id="notification_count">3</span>

                                <a href="#" id="notificationLink"><i class="material-icons">notifications</i></a>

                                <div id="notificationContainer">
                                    <div id="notificationTitle">Notifications Title</div>
                                    <div id="notificationsBody" class="notifications">
                                        <ul>
                                            <li data-ng-repeat="notification in notifications">{[{notification.subject}]}</li>
                                        </ul>
                                    </div>
                                    <div id="notificationFooter"><a href="#" id='AddNew' data-ng-click="addNotification()">Add New Message</a>

                                    </div>
                                </div>
                            </li>#}

                            <li >
                                <a href='/' class="header-text">Accueil</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px; color:dimgrey;" onmouseover="this.style.color='#1e90fe';this.style.color='#1e90fe';" onmouseout="this.style.background='';this.style.color='dimgrey';">
                                    {[{authToken.user.prenom}]}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/3il/{[{username}]}">Profil</a></li>
                                    <li ng-if="authToken.user.isPersonnel"><a href="/dashboard">Tableau de Bord</a></li>
                                    <li><a href="" ng-click="logOut()">Se Déconnecter</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            <!-- Sidebar -->
            <div id="sidebar-wrapper" ng-show="!chargementEnCours">
                <div class="left" >

                    <ul class="courses " style="margin-top: 15px !important; ">
                        <div class="side-menu-head"> Promotion</div>
                        <div class="caption-item-content" >
                            <div class="sel1" style="width: 100%; margin: 8px 2px 8px 8px">
                                <select class="form-control"
                                        ng-model="selectedValue.niveauid"
                                        ng-change="reload()"
                                        uib-tooltip="Niveau de promotion">

                                    <option value="{[{niveau.id}]}"
                                            ng-repeat="niveau in niveaux">
                                        {[{niveau.libelle}]}</option>
                                </select>
                            </div>

                            <div class="sel1" style="width: 65%; margin: 8px 2px 2px 8px" >
                                <select class="form-control"
                                        ng-model="selectedValue.anneeid"
                                        ng-change="reload()"
                                        uib-tooltip="Année scolaire">

                                    <option value="{[{annee.id}]}"
                                            ng-repeat="annee in annees" >
                                        {[{annee.libelle}]}</option>
                                </select>
                            </div>
                            <div class="sel1" style="width: 30%; margin: 8px 8px 2px 8px" >
                                <select class="form-control"
                                        ng-model="selectedValue.groupeid"
                                        ng-change="reload()"
                                        uib-tooltip="Groupe de promotion">

                                    <option value="{[{groupe.id}]}"
                                            ng-repeat="groupe in groupes">
                                        {[{groupe.libelle}]}</option>
                                </select>
                            </div>
                        </div>
                    </ul>

                    <ul class="courses " style="margin-top: 15px !important;">

                        <div class="side-menu-head">Matières</div>
                        <li ng-cloak><a  ng-class="{active: rubriqueCourante=='Tous'}" ng-click="selectionRubrique('Tous')" href="#home"><img ng-src="{{asset('img/All.png')}}" class="side-menu-image">Tous</a></li>
                        <li ng-repeat="unConteneur in groupesContenus.CONTENEUR | unique:'libelle_rubrique'" ng-cloak>
                            <a  ng-if="unConteneur.libelle_groupeRubrique =='Matière'"
                                ng-class="{active: unConteneur.libelle_rubrique == rubriqueCourante}"
                                ng-href="#!/rubriques/{[{unConteneur.libelle_rubrique}]}"><img ng-src="{{ asset('{[{unConteneur.imageRoot_rubrique}]}') }}" class="side-menu-image">
                                {[{unConteneur.libelle_rubrique | limitTo:25}]}
                            </a>

                        </li>
                    </ul>


                    <ul class="courses">
                        <div class="side-menu-head">Enseignants</div>
                        <li ng-repeat="unConteneur in groupesContenus.CONTENEUR | unique:'user_id'" ng-cloak>
                            <a ng-href="#!/enseignants/{[{unConteneur.nom}]}"><img ng-src="{{ asset('{[{unConteneur.userProfilRoot}]}') }}" class="prof-image" style="border-radius: 50%">{[{unConteneur.nom}]}</a>
                        </li>
                    </ul>

                    <ul class="courses">
                        <div class="side-menu-head">Administration</div>
                        <li><a href="#!/underConstruction"><img ng-src="{{ asset('img/important.png') }}"  class="side-menu-image">Annonces Importantes</a></li>
                        <li><a href="#!/underConstruction"><img ng-src="{{ asset('img/international.png') }}"  class="side-menu-image">International</a></li>
                        <li><a href="#!/underConstruction"><img ng-src="{{ asset('img/internship.png') }}"  class="side-menu-image">Infos Stage</a></li>
                        <li><a href="#!/underConstruction"><img ng-src="{{ asset('img/entreprise.png') }}"  class="side-menu-image">Entreprises</a></li>
                    </ul>

                    <ul class="courses" style="margin-bottom: 90px">
                        <div class="side-menu-head">Divers</div>
                        <li><a href="#!/underConstruction"><img ng-src="{{ asset('img/bde.png') }}" class="side-menu-image">BDE</a></li>
                        <li><a href="#!/underConstruction"><img ng-src="{{ asset('img/question.png') }}" class="side-menu-image">Questions Importantes</a></li>
                    </ul>
                </div>
            </div>
            <!-- Page content -->
            <div id="page-content-wrapper" ng-show="!chargementEnCours" ng-cloak>
                <div class="page-content">
                    <div class="container-fluid">
                        {#A modifier avec ng-model#}
                        <div class="alert alert-info" ng-if="!hideSearch">{[{contenusFiltres.length}]}
                            <span ng-if="contenusFiltres.length<2">contenu trouvé</span>
                            <span ng-if="contenusFiltres.length>=2">contenus trouvés</span></div>
                        <div class="row">

                            <div class="span12">
                                {#Début Affichage de contenus courant concernant une rubrique cliquée#}
                                <div>
                                   {# <div class="loader" ng-if="chargementRubrique">
                                        <img src="{{ asset('img/preloader.gif') }}" class="ajax-loader" height="70" width="70"/>
                                    </div>
                                    #}

                        <div>
                            <div>
                        <contenus-rubrique
                            ng-repeat="unConteneur in conteneurs | start: (currentPage - 1) * pageSize | limitTo: pageSize "
                            ng-if="hideSearch && rubriqueCourante!=null"
                            contenu="unConteneur"></contenus-rubrique></div>

                            <div style="clear: both"></div>

                            <div>
                                <ul    ng-show="hideSearch && (rubriqueCourante!=null && rubriqueCourante!='Tous')"
                                        uib-pagination total-items="conteneurs.length"
                                        items-per-page="pageSize"
                                        ng-model="currentPage"
                                        max-size="10"
                                        class="pagination-sm"></ul>
                            </div>
                        </div>
                                    {#<contenus-rubrique
                                            ng-repeat="unConteneur in conteneurs "
                                            ng-if="(unConteneur.libelle_rubrique=='Enseignant'
                                                        && (unConteneur.nom==rubriqueCourante))"

                                            contenu="unConteneur"></contenus-rubrique>#}

                    <administration ng-if="showAnnoncesImportantes"></administration>
                                    {#Exclusivily for the search#}

                                    <div>
                                        <div>
                                            <contenus-rubrique
                                                    ng-repeat="unConteneur in contenusFiltres = (groupesContenus.CONTENEUR | filter: data.rechercheContenu) | start: (currentPage - 1) * pageSize | limitTo: pageSize  "
                                                    ng-if="!hideSearch"
                                                    contenu="unConteneur"
                                                    recherche="data.rechercheContenu"></contenus-rubrique>
                                        </div>

                                        <div style="clear: both"></div>

                                        <div >
                                            <ul     ng-show="!hideSearch && rubriqueCourante!='Tous'"
                                                    uib-pagination total-items="contenusFiltres.length"
                                                    items-per-page="pageSize"
                                                    ng-model="currentPage"
                                                    max-size="10"
                                                    class="pagination-sm"></ul>
                                        </div>
                                    </div>
                                    {#End of the search#}

                                </div>
                                {#Fin Affichage de contenus concernant une rubrique#}

                                {#Début Affichage de tous les éléments#}
                                <data-owl-carousel ng-show="rubriqueCourante=='Tous' && hideSearch">

                                    <div class="aside-menu-head" ng-if="groupesContenus.FAVORIS.length>0">Consultés recemment</div>

                                    <data-owl-carousel class="owl-carousel owl-theme" >

                                        <contenus-tries owl-carousel-item=""  ng-repeat="unFavoris in groupesContenus.FAVORIS"
                                              class="item" contenu="unFavoris">

                                        </contenus-tries>

                                    </data-owl-carousel>

                                    <div class="aside-menu-head" ng-if="groupesContenus.RECENTS.length>0">Publiés recemment</div>
                                    <data-owl-carousel class="owl-carousel owl-theme" >
                                        {#La date a déjà été triée côté serveur#}
                                        <contenus-tries owl-carousel-item="" ng-repeat="unRecent in groupesContenus.RECENTS"
                                                        class="item" contenu="unRecent"></contenus-tries>

                                    </data-owl-carousel >
                                    <div class="aside-menu-head" ng-if="groupesContenus.AUSSICONSULTES.length>0">Les plus populaires</div>

                                    <data-owl-carousel class="owl-carousel owl-theme" >
                                        <contenus-tries owl-carousel-item=""  ng-repeat="aussiConsulte in groupesContenus.AUSSICONSULTES"
                                                        class="item" contenu="aussiConsulte"></contenus-tries>

                                    </data-owl-carousel >

                                </div>
                                {#Fin Affichage de tous les éléments#}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>

    <!-- Page Authentification -->
<div class="authentification" ng-show="!showHome && !logged" ng-cloak >
    <header >

        <nav class="navbar navbar-inverse">
            <div class="container">


                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href=''><img src="{{ asset('img/3ilCours_logo.png') }}" height="60" width="210" style="margin-top:-2px; margin-right: -30px;"></a></li>
                    {#<li>
                        <a href=''>A propos</a>
                    </li>#}

                </ul>
            </div>
        </nav>
    </header>

    <div class="jumbotron"  ng-class="{fuzzy: showImageSubmit || showImageUpload}">
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="col-md-10">

                        <div id="titreBienvenue">
                            <h1><strong>Bienvenue sur 3ilCours</strong></h1>
                            <h3 id="sstitreBienveue"><i>Réseau social de collaboration entre étudiants et enseignants</i></h3>
                        </div>

                        <authentification

                                suivant="suivant(userEmail)"
                                sign-up="signUp(user)"
                                upload="upload(imgData)"
                                show-m-a-j-password="showMAJPassword"
                                show-email-error="showEmailError"
                                show-suivant="showSuivant"
                                show-connexion="showConnexion"
                                show-email-card="showEmailCard"
                                show-image-upload="showImageUpload"
                                show-image-submit="showImageSubmit"
                                show-credentials-error="showCredentialsError"
                                show-error-nom="showErrorNom"
                                count-click-connexion="countClickConnexion"
                                show-almost-done="showAlmostDone"
                                show-image-cropped="showImageCropped"
                                show-no-activated-error="showNoActivatedError"
                                chargement-en-cours="chargementEnCours"
                                show-end="showEnd"
                                error-msg="errorMsg"
                                is-personnel="isPersonnel"
                                progress="progress"
                                connexion="connexion(userData)"
                                image="image"
                                import-photo="importPhoto"
                                ajout-photo="ajoutPhoto"></authentification>



                    </div>
                    <div style="width: 100%;
height: 28px;
position: absolute;
bottom: 0px;
left: 0px;
text-align: center;
font-size: 13pt;
font-weight: 300 !important;

font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif"><a href="mailto:kamdeme@3il.fr" style="text-decoration: none;">By Edgar KAMDEM </a></div>

                    <div class="col-md-1"></div>
                </div>
            </div>
        </main>

    </div>

</div>

    </div>
    {#End Authentification#}

{% endblock %}

