{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="preloader" ng-show="chargementEnCours" ng-controller="lectureContenuCtrl" ng-cloak >
        <div class="msg-preloader">
            <img ng-src="{{ asset('img/preloader.gif') }}"/>
        </div>
    </div>#}
    <div class="container-fluid" ng-controller="LectureContenuCtrl" ng-cloak>
        <div ng-init="init({{ idConteneur }})" ></div>

        <a id="titleHead" href="" >{[{conteneurCourant.contenu.titre | limitTo:150}]}
            <span ng-if="conteneurCourant.contenu.titre.length > 150">&hellip;</span>
        </a>

        <div class="row rowLectureContenu" ng-show="!chargementEnCours">
            <div class="col-sm-12 col-md-8 col-lg-8 no-float" style="padding: 0 !important; border: 1px solid lightgrey" ng-show="!questionFullscreen" >{#change made#}
                <iframe ng-src="{[{contenuURL}]}" style="border: none;" id="myIframe"></iframe>

            </div>
            <div ng-class="{'hidden-sm hidden-xs col-md-4 col-lg-4  no-float': !questionFullscreen}" style=" padding:0; border: 1px solid lightgrey; height: 100%">{#change made here class="hidden-sm hidden-xs col-md-4 col-lg-4  no-float"#}
                <div class="panel panel-default noborder" style="height: 100%!important; width: 100%!important ">
                    <div class="panel-heading noborder">
                        <span ng-if="questionDetailFullscreen == null && !afficherNewQuestion">QUESTIONS</span>
                        <span ng-if="questionDetailFullscreen != null">DETAILS DE LA QUESTION</span>
                        <span ng-if="afficherNewQuestion">MA QUESTION</span>
                        <a href="#!/back" id="back-left" style="text-decoration: none; color: inherit"><div class="arrow-back"  ng-if="questionDetailFullscreen != null || afficherNewQuestion"><i class="material-icons">arrow_back</i></div></a>
                        <div  class="zoom-panel" ng-click="zoom()" ng-if="!questionFullscreen"><i class="material-icons">zoom_in</i></div>
                        <div  class="zoom-panel" ng-click="zoom()" ng-if="questionFullscreen"><i class="material-icons">zoom_out</i></div>
                    </div>

                    <div ng-class="{'scroll-lgpanel': questionFullscreen, 'scroll-smpanel': !questionFullscreen}"
                         class="container-fluid question-panel padding-smpanel"
                         ng-show="questionDetailFullscreen == null">
                        {#Change made for hidden#}
                        <div class="row">
                            <div class="col-xl-4 col-lg-3 col-md-3 col-sm-1" ng-if="questionFullscreen"></div> {#Change made for questionFullscreen#}
                            <div ng-class="{'col-sm-10 col-md-6 col-lg-6 col-xl-4': questionFullscreen}" class=" panel-body noborder " style="box-shadow: none !important; ">

                                <liste-questions  ng-show="!afficherNewQuestion" conteneur-question= "conteneurQuestion"></liste-questions>

                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-3 col-md-3 col-sm-1"  ng-if="questionFullscreen"></div> {#Change made for questionFullscreen#}
                    </div>
                    {#Début Poser une question#}
                    <new-question
                            ng-class="{'scroll-lgpanel': questionFullscreen, 'scroll-smpanel': !questionFullscreen}"
                            class="container-fluid question-panel padding-smpanel"

                            ng-show="afficherNewQuestion"
                            publier-question="publierQuestion(newQuestion)"
                            fullscreen = "questionFullscreen"
                            show-error = "showQuestionError"
                            ss-rubrique-libelle="sousRubriqueLibelle"></new-question>
                    {#Fin Poser une question#}



                    {# Start dupes#}
                    <div
                            ng-show="questionDetailFullscreen != null"
                            ng-class="{'scroll-lgpanel': questionDetailFullscreen, 'scroll-smpanel': !questionDetailFullscreen}"
                            class="container-fluid question-panel padding-smpanel scroll-smpanel"  > {##}
                        <div class="row">
                            <div class="col-xl-4 col-lg-3 col-md-3 col-sm-1" ng-if="questionDetailFullscreen"></div>{#hidden#}
                            <div ng-class="{'col-sm-10 col-md-6 col-lg-6 col-xl-4': questionDetailFullscreen}"
                                 class="panel-body noborder " style="box-shadow: none !important;">{##}
                                <table class="table" cellspacing="pixels" style=" overflow-y: auto;">
                                    <thead>
                                    <tr>
                                        <th colspan="2">


                                            <div class="date-publication" ng-if="!questionSelectionnee.anonyme"><img
                                                        ng-src="{{ asset('{[{questionSelectionnee.user.userProfilRoot}]}') }}"><a
                                                        href="/3il/{[{questionSelectionnee.user.email | substringEmail:questionSelectionnee.user.email}]}"
                                                        class="href"> {[{questionSelectionnee.user.prenom}]} {[{questionSelectionnee.user.nom}]}</a>
                                                , le {[{questionSelectionnee.datePublication | date:'dd MMM yyyy à HH : mm'}]}
                                            </div>
                                            <div class="date-publication" ng-if="questionSelectionnee.anonyme"><img
                                                        ng-src="{{ asset('img/happystudent.png') }}"><a
                                                        class="href"> Anonyme</a>
                                                , le {[{questionSelectionnee.datePublication | date:'dd MMM yyyy à HH : mm'}]}
                                            </div>
                                            <div class="question-page"
                                                 ng-if="questionSelectionnee.page != null && questionSelectionnee.ligne!=null">page
                                                {[{questionSelectionnee.page}]} - à partir de la ligne {[{questionSelectionnee.ligne}]}
                                            </div>
                                            <div class="question-title">
                                                {[{questionSelectionnee.libelle}]}
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="votecell" style="vertical-align: top; ">


                                            <div class="vote" style="margin-right: -30px">

                                                <div class="check-btn-contribution" ng-click="checkRef('Question', questionSelectionnee.id )">
                                                    <div class="check-vote"
                                                         title="Cette question montre l'effort de recherche. Elle est utile et claire.">
                                                        <i class="fa fa-check-circle fa-2x" style="font-size: 30pt"
                                                           aria-hidden="true"></i></div>
                                                    <div id="check-count">{[{questionSelectionnee.nombreLike}]}
                                                    </div>
                                                </div>

                                            </div>

                                        </td>
                                        <td class="postcell">
                                            <div>
                                                <div class="post-text"
                                                     ng-bind-html="questionSelectionnee.description">
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: none; " colspan="2" ng-click="checkInutile('Question', questionSelectionnee.id )">
                                            <div style="float: right; ">

                                                <a class="inutile" title="Cette question ne montre aucun effort de recherche, elle n'est pas claire ou n'est pas utile">
                                                    <span ng-if="questionSelectionnee.nbreInutile>0">({[{questionSelectionnee.nbreInutile}]})</span> Question inutile <i class="fa fa-flag" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: none"></td>
                                        <td style="border: none; " colspan="2">
                                            <div style="float: left;
                                                font-size: 13pt;
                                                font-weight: 400;
                                                color: dodgerblue;">

                                                {[{questionSelectionnee.reponses.length }]}
                                                <span ng-if="questionSelectionnee.reponses.length>1">réponses</span>
                                                <span ng-if="questionSelectionnee.reponses.length<=1">réponse</span>
                                            </div>
                                        </td>
                                    </tr>
                                    {#Debut reponse#}
                                    <tbody ng-repeat="uneReponse in questionSelectionnee.reponses"
                                           class="reponse"
                                           ng-class="{'reponse-light': showDetails}">
                                    <tr>
                                        <th colspan="2"  ng-class="{'reponse-enseignant': uneReponse.user.isPersonnel}">


                                            <div class="date-publication" ng-if="!uneReponse.anonyme"><img
                                                        ng-src="{{ asset('{[{uneReponse.user.userProfilRoot}]}')}}"> <a
                                                        href="/3il/{[{uneReponse.user.email | substringEmail:uneReponse.user.email}]}" class="href">{[{uneReponse.user.prenom}]} {[{uneReponse.user.nom}]}</a>,
                                                le {[{uneReponse.datePublication | date:'dd MMM yyyy à HH : mm'}]}
                                            </div>
                                            <div class="date-publication" ng-if="uneReponse.anonyme" style="margin-left: -5px"><img
                                                        ng-src="{{ asset('img/happystudent.png')}}"> <a
                                                        class="href">Anonyme</a>,
                                                le {[{uneReponse.datePublication | date:'dd MMM yyyy à HH : mm'}]}
                                            </div>
                                            <div style="color: #17aa1c; font-size: 13pt" ng-if="uneReponse.user.isPersonnel">Réponse enseignant</div>

                                        </th>
                                    </tr>
                                    <tr ng-class="{'reponse-enseignant': uneReponse.user.isPersonnel}">
                                        <td class="votecell" style="vertical-align: top; border: none">


                                            <div class="vote" style="margin-right: -30px">

                                                <div class="check-btn-contribution" ng-click="checkRef('Reponse', uneReponse.id )">
                                                    <div class="check-vote"
                                                         title="Cette question montre l'effort de recherche. Elle est utile et claire.">
                                                        <i class="fa fa-check-circle fa-2x" style="font-size: 30pt"
                                                           aria-hidden="true"></i></div>
                                                    <div id="check-count">{[{uneReponse.nombreLike}]}
                                                    </div>
                                                </div>

                                            </div>

                                        </td>
                                        <td class="post-text"
                                            ng-bind-html="uneReponse.libelle" style="border: none">
                                        </td>

                                    </tr>
                                    <tr ng-class="{'reponse-enseignant': uneReponse.user.isPersonnel}">
                                        <td style="border: none; "></td>
                                        <td style="border: none; ">
                                            <div style="float: left" ng-click="showDetails = !showDetails">
                                                <a  class="-Ed2" ng-if="uneReponse.commentaires.length>1">
                                                    Commentaires ({[{uneReponse.commentaires.length}]})
                                                </a>
                                                <a  class="-Ed2" ng-if="uneReponse.commentaires.length<=1">
                                                    Commentaire ({[{uneReponse.commentaires.length}]})
                                                </a>

                                            </div>
                                            <div style="float: right; "
                                                 ng-if="!uneReponse.user.isPersonnel" ng-click="checkInutile('Reponse', uneReponse.id )">

                                                <a class="inutile" title="Cette réponse ne montre aucun effort de recherche, elle n'est pas claire ou n'est pas utile">
                                                    <span ng-if="uneReponse.nbreInutile>0">({[{uneReponse.nbreInutile}]})</span> Reponse inutile <i class="fa fa-flag" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {#Début commentaire #}

                                    <tr commentaires-reponse
                                        ng-repeat="unCommentaire in uneReponse.commentaires"
                                        ng-show="showDetails"
                                        poster-comment="posterComment(newComment, answerID)"
                                        comment="unCommentaire"
                                        answer="uneReponse"
                                        check-ref="checkRef(ref, refID)"
                                        check-inutile="checkInutile(ref, refID)">
                                    </tr>
                                    <tr commentaires-reponse
                                        ng-show="showDetails && uneReponse.commentaires.length==0"
                                        poster-comment="posterComment(newComment, answerID)"
                                        answer="uneReponse"
                                        check-ref="checkRef(ref, refID)"
                                        check-inutile="checkInutile(ref, refID)">
                                    </tr>
                                    {#Fin commentaire #}
                                    {#Fin reponse#}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>

                                    <tr>

                                        <td colspan="2">

                                            <form>
                                                <input type="text" class="form-control" ng-if="!tinyMceReponse || idQuestion != questionSelectionnee.id"
                                                       placeholder="Ajouter une réponse" ng-click="showTinyMceReponse(questionSelectionnee.id)">
                                                <div class="spacer " ng-if="tinyMceReponse && idQuestion == questionSelectionnee.id">
                                                    <textarea ui-tinymce="optionTinyMCE" class="contenu-newQuestion form-control" name="description" rows="10" ng-model="newReponse.libelle" required></textarea>
                                                    <input name="image" type="file" id="upload" class="hidden" onchange="" accept="image/x-png,image/jpeg,image/jpg"/>
                                                </div>

                                                <div class="col-sm-9  padding-question-search" style="float: right; width: 200px" ng-if="tinyMceReponse && idQuestion == questionSelectionnee.id">
                                                    <label class="checkbox-inline"><input type="checkbox" ng-model="newReponse.anonyme" value="false">Anonyme</label>
                                                    <button ng-click="publierReponse(newReponse, questionSelectionnee.id)" class="btn btn-lg btn-primary btn-block review" >
                                                        <span >Publier ma réponse</span>
                                                    </button>
                                                </div>
                                            </form>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="post-text" colspan="2"
                                            ng-bind-html="newReponse.libelle" style="border: none">
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                            <div class="col-xl-4 col-lg-3 col-md-3 col-sm-1" ng-if="questionDetailFullscreen"></div>{#hidden#}
                        </div>
                    </div>
                    {# End dupes #}

                </div>

            </div>
        </div>


        <i class="material-icons comment-footer"
           ng-click="clickToOpen()"
           title="Donnez un avis expliqué et constructif sur ce cours">comment</i>

        <ng-rate-it
                class="like-footer custom"
                title="Notez la clarté et l'explication de ce cours"
                cancel-width="1"
                width="15"
                cancel-height="1"
                ng-model="userVote.valeur"
                ng-click="rate()"></ng-rate-it>


        <i class="material-icons question-answer-footer  hidden-md hidden-lg"
           title="Faire apparaître ou disparaître le panneau de questions"
           ng-click="displayQuestionOnMobile()">question_answer</i>

    </div>
    <script type="text/javascript" src="{{ asset('bower/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function(){
        var startDate = new Date();
        var idleTime = 0;
        var elapsedTime = 0;
        var i=0;
        const focus = function() {
            startDate = new Date();
            console.log("focus", startDate);
        };

        const blur = function() {

            i++;
           // if(i>1){
                const endDate = new Date();
                const spentTime = endDate.getTime() - startDate.getTime();
                elapsedTime += spentTime;
                console.info("blur endDate", endDate);
                console.info("blur startDate", startDate);
                console.log("blur", elapsedTime);
           // }

        };

            function twoDigits(d) {
                if(0 <= d && d < 10) return "0" + d.toString();
                if(-10 < d && d < 0) return "-0" + (-1*d).toString();
                return d.toString();
            }


            const beforeunload = function() {
            const endDate = new Date();
            const spentTime = endDate.getTime() - startDate.getTime();
            elapsedTime += spentTime;

            console.info("endDate", endDate);
            console.log("beforeunload", elapsedTime);
            // elapsedTime contains the time spent on page in milliseconds
                var totalTimeSpent = elapsedTime - idleTime;
                console.log("totalTimeSpent", totalTimeSpent);
                console.log("sessionStorage.idContenuCourant", sessionStorage.idContenuCourant);
                if(localStorage.userData != undefined
                        && sessionStorage.idContenuCourant != undefined
                                && sessionStorage.nbreVue != undefined
                                        && totalTimeSpent>120000)
                {
                    var dateConversion =new Date(startDate.getTime() - (startDate.getTimezoneOffset() * 60000)).toISOString().slice(0, 19).replace('T', ' ');

                    var authToken = JSON.parse(localStorage.userData);
                    console.log("date2", startDate.toISOString().slice(0, 19).replace('T', ' '));

                    //Gestion du nombre de visite
                    $.ajax({
                        url: '/api/visiteContenu/'+sessionStorage.idContenuCourant+'/'+authToken.user.id,
                        contentType : 'application/json',
                        type: 'post',
                        data : JSON.stringify({
                            "dateVisite": {
                                "date": {
                                    "year": parseInt(dateConversion.substr(0, 4)),
                                    "month": parseInt(dateConversion.substr(5, 2)),
                                    "day": parseInt(dateConversion.substr(8, 2))
                                },
                                "time": {
                                    "hour": parseInt(dateConversion.substr(11, 2)),
                                    "minute": parseInt(dateConversion.substr(14, 2))
                                }
                            },
                            "stringDate": "\""+dateConversion+"\"",
                            "duree": parseFloat(totalTimeSpent/60000 ),
                            "nbreVue":sessionStorage.nbreVue
                        }),
                        headers: {
                            'X-Auth-Token': authToken.value
                        },
                        dataType: 'json',
                        success: function (data) {
                            console.log("success !");
                            console.info(data);
                        }
                    });


                    //Gestion du nombre de vue
                    /*$.ajax({
                        url: '/api/usercontenu/'+authToken.user.id+'/'+sessionStorage.idContenuCourant,
                        contentType : 'application/json',
                        type: 'patch',
                        data : JSON.stringify({
                            "nbreVue":sessionStorage.nbreVue
                        }),
                        headers: {
                            'X-Auth-Token': authToken.value
                        },
                        dataType: 'json',
                        success: function (data) {
                            console.log("success !");
                            console.info(data);
                        }
                    });*/
                }
        };

        var inactivityTime = function() {
            var t;
            window.onload = resetTimer;
            // DOM Events
            document.onload = resetTimer;
            document.onmousemove = resetTimer;
            document.onmousedown = resetTimer; // touchscreen presses
            document.ontouchstart = resetTimer;
            document.onclick = resetTimer;     // touchpad clicks
            document.onscroll = resetTimer;    // scrolling with arrow keys
            document.onkeypress = resetTimer;

            function logout() {
               // console.log("You are now logged out.");
                idleTime=idleTime+300000;
                console.log("idleTime", idleTime);

                //location.href = 'logout.php'
            }

            function resetTimer() {
                clearTimeout(t);
                t = setTimeout(logout, 300000);
                // 1000 milisec = 1 sec
            }
        };
            window.addEventListener('focus', focus);
            window.addEventListener('blur', blur);
            window.addEventListener('beforeunload', beforeunload);
       inactivityTime();
        });
    </script>
{% endblock %}
